#content{
    margin-left: 4%;
    margin-right: 4%;
}
#Description{
    margin-top: 1%;
    margin-bottom: 3%;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    justify-content: space-between;
    border: 1;
}
#slideshow-container{
  width: 50%;
}
.carousel-inner{
  text-align: center;
}
.slider-image{
    max-height: 350px;
    width: 500px;
    margin: 2% 0;
    align-self: center;
    z-index: 0;
}
.carousel-control-prev, .carousel-control-next{
  color: rosybrown !important;
}

.carousel-control-prev-icon, .carousel-control-next-icon{
  color: rosybrown !important;
}
input[type=text] input[type=date]{
    width:60%;
    margin-right: 5%;
}
h4{
    font-size: 16px !important;
    font-family: cursive;
}
#hotel-Registration{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid black;
    margin-top: 2%;
    max-height: 400px;
}
.form-element{
    margin-bottom: 5%;
    vertical-align: middle;
}
.form-element button{
  margin-left: 50%;
  justify-content: center;
  align-self: center;
  text-align: center;
}
.form-element:first-child{
    margin-top: 30px;
}
#Form-register{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-left: 1px solid black;
}
#button1{
  margin: 0 50% ;
    padding: 2% ;
}
label{
    display: inline-block;
    width: 150px;
    margin-left: 20px;
}
.modals{
  display: flex;
  justify-content: space-around;
}
.modal-body{
  justify-content: center;
  align-content: center;
  align-self: center;
  align-items: center;
display: flex;
}
.modal-body button{
  margin-top: 10%;
  margin-left: 40%;
}