body{
    height: 100%;
    width: 100%;
    margin: 0px;
    background-color: #e0e0e0;
    font-family:'Ubuntu', sans-serif;
}
header,footer{
    background-color: rosybrown;
   
}
header{
    position:sticky;
    top: 0;
    
}
.logo{
    margin-top: auto;
    margin-bottom: auto;
}

.login{
    display: flex;
    float: right;
    margin-top: 20px;
    margin-bottom: auto;
    margin-right: 20px;
    text-decoration: none;
    color: black;
    font-size: bolder;
}


form
{
    margin-bottom: 1%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    justify-content: space-between;
    border: 1;
}
#Radison
{
    max-height: 350px;
    width: 500px;
    margin: 2% 0;
}input[type=text] input[type=date]
{
    width:60%;
    margin-right: 5%;
}
h4
{
    font-family: cursive;
}
#hotel-Registration
{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid black;
    margin-top: 2%;
    max-height: 400px;
}
.form-element{
    margin-bottom: 10%;
    vertical-align: middle;
}
.form-element:first-child
{
    margin-top: 30px;
}
#Form-register{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-left: 1px solid black;
}
#button1
{
  margin: 0 50% ;
    padding: 2% ;
}
label
{
    display: inline-block;
    width: 150px;
    margin-left: 20px;
}

/*------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------*/


.description {
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 1%;
    margin-bottom: 2%;
}
.description h5{
    font-family: cursive;
}

.social-media{
    height:20px;
     width:22px;
}
footer{
    position: sticky;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 12px;
}
footer a{
    align-self: center;
    order: 1;
    color: black;
    text-decoration: none;
  }

footer .smlink{
    align-self: center;
    order: 3;
  }
  footer span{
    order: 2;
    font-size: 10px;
    align-self: flex-end;
    position: relative;
    top: 8px;
    bottom: 1px;
  }