body {
    height: 100%;
    width: 100%;
    margin: 0px;
    background-color: #e0e0e0;
}

header , footer{
    background-color: rosybrown;
}

.contain {
    background-image: url(https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg);
    height: 380px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.citycards {       
    margin-left: 15%;
    margin-right: 15%;
    
}
.hotelImage {
    height: 150px;
    width: 150px;
    border-radius: 25%;
    padding: 4%;
}
.social-media{
    height:20px;
     width:22px;
}