/*List css*/
#pills-tab{
    justify-content: center;
  }
  ul{
    text-align: center;
  }
  li{
    padding: 2%;
    display: inline-block;
    font-weight: bold;
  }
  #list-view{
    align-content: center;
  }
  /*Map view - no display*/
  #map-view{
     /*display: none;*/ 
  }
  /*Hotel cards*/
  .hotels{
    margin: 2%;
    background-color: lightgray;
    width: 40%;
    display: inline-block;
  }
  .hotels:hover{
    background-color: rosybrown;
  }
  .hotels-info{
    display: inline-block;
    align-self: center;
    margin-left: 2%;
  }
  #list-view img{
    height: 200px;
    width: 250px;
    float: left;
  }
  .modals{
    display: flex;
    justify-content: space-around;
  }
  .modal-body{
    justify-content: center;
    align-content: center;
    align-self: center;
    align-items: center;
  }
  .modal-body button{
    margin-top: 10%;
    margin-left: 40%;
  }