body{
    height: 100%;
    width: 100%;
    margin: 0px;
    background-color: #e0e0e0;
    font-family:'Ubuntu', sans-serif;
}

header,footer{
    background-color: rosybrown;
   
}
header{
    position:sticky;
    top: 0;
}
.logo{
    margin-top: auto;
    margin-bottom: auto;
}
.login{
    display: flex;
    float: right;
    margin-top: 20px;
    margin-bottom: auto;
    margin-right: 20px;
    text-decoration: none;
    color: black;
    font-size: bolder;
}
ul{
    display: flex;
    align-self:center;
    justify-content: center;
}
li{
 list-style: none;
 margin: 10px;
}
a{ color: black;
    text-decoration: none;}
li a{
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.hotel{
    margin: 2%;
    background-color: rgb(132,136,139);
    width: 40%;
    display: inline-table;
}
.hotelImage{
    height: 200px;
    width: 250px;
}
#mapView{
    display: none;
}
.social-media{
    height:20px;
     width:22px;
}
footer{
    position: sticky;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 12px;
}
footer a{
    align-self: center;
    order: 1;
    color: black;
    text-decoration: none;
  }

footer .smlink{
    align-self: center;
    order: 3;
  }
  footer span{
    order: 2;
    font-size: 10px;
    align-self: flex-end;
    position: relative;
    top: 8px;
    bottom: 1px;
  }