.hotel-details {
    width: 50%;
    height: 30%;
    display: flex;
    background-color: rgb(132, 136, 139);
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 4%;
    margin-bottom: 4%;
  }
  .hotel-details img{
    width: 270px;
    height: 170px;
    justify-content: center;
    align-self: center;
  }
  .details{
    display: inline-block;
    align-self: center;
    margin-right: 40px;
    clear: both;
  }
  .payment-details{
    clear: both;
    margin: 2%;
    margin-bottom: 10%;
    border-radius: 5px;
    border: 1px solid black;
    background-color: rosybrown;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  /*Tariff box*/
  .tariff-details{
    margin-top: 3%;
  }
  #paynow{
    margin-top: 5%;
  }
  b{
    font-family: cursive;
  }
  .modals{
    display: flex;
    justify-content: space-around;
  }
  .modal-body{
    justify-content: center;
    align-content: center;
    align-self: center;
    align-items: center;
  }
  .modal-body button{
    margin-top: 10%;
    margin-left: 40%;
  }